.big_container {
      background-color: crimson;
      padding: 19px;
      border-radius: 10px;
      display: flex;
      gap: 26px;
      cursor: pointer;
      width: 112%;
}

.big_container:hover {
      background-color: #2e374a;
}

.texts {
      display: flex;
      flex-direction: column;
      gap: 20px;
}

.number {
      font-size: 23px;
      font-weight: 500;
}

.detail {
      font-size: 14px;
      font-weight: 300;
}

.positive {
      color: lime;
}

.negative {
      color: red;
}