.container {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: #2e374a;
      padding: 5px;
      border-radius: 10px;
      width: max-content;
      height: 40px;
}

.input {
      background-color: transparent;
      border: none;
      color: var(--text);
      outline: none;
      height: 13px;
      width: 130px;

}